@import 'variables.scss';

$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";

/* https://www.fontsquirrel.com/license/camingocode */
@font-face {
  font-family: 'CamingoCode';
  src: url('../assets/fonts/CamingoCode-Regular.ttf');
}

.popover-menu {
  position: absolute;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #272822;
  z-index: 5;
  box-shadow: 1px 1px 5px #555;
  margin: 3px 0 0 25px;
}

.context-menu {
  ul {
    font-family: $app-font;
    font-size: 13px;
    list-style: none;
    padding: 0;
    margin: 0;
    color: $highlight-color;
  }

  li {
    border-bottom: 1px solid #000;
    padding: 4px 10px;
    cursor: pointer;
    background-color: #272822;
  }

  li.selected, li.selected:hover {
    background-color: #DCF5DE;
  }

  li:hover {
    background-color: #555;
  }

  li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

i.fabutton {
  background: #252525;
  padding: 3px;
  margin: 0 5px;
  font-size: 12px;
  width: 12px;
  height: 12px;
  text-align: center;
  cursor: pointer;
}

i.fabutton.enabled:hover {
  color: $highlight-color;
}

i.fabutton.enabled:active {
  transform: translateY(2px);
}