@import 'variables.scss';

$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";

body {
  background: #2F3129;
}

/* https://www.fontsquirrel.com/license/camingocode */
@font-face {
  font-family: 'CamingoCode';
  src: url('../assets/fonts/CamingoCode-Regular.ttf');
}

.popover-menu {
  position: absolute;
  border: 1px solid #000;
  background-color: #40423a;
  z-index: 5;
  box-shadow: 1px 1px 3px #222;
  margin: 2px 0 0 22px;
}

.context-menu {
  ul {
    font-family: $app-font;
    font-size: 13px;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #FFEDF4;
  }

  li {
    border-bottom: 1px solid #000;
    padding: 4px 10px;
    cursor: pointer;
    background-color: #40423a;
  }

  li.selected, li.selected:hover {
    background-color: #DCF5DE;
  }

  li:hover {
    background-color: #555;
    color: $highlight-color;
  }

  li:last-child {
    border-bottom: none;
  }
}

i.fabutton {
  background: #252525;
  padding: 3px;
  margin: 0 5px;
  font-size: 12px;
  width: 12px;
  height: 12px;
  text-align: center;
  cursor: pointer;
}

i.fabutton.enabled:hover {
  color: $highlight-color;
}

i.fabutton.enabled:active {
  transform: translateY(2px);
}

.centered-panel {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}