@import 'variables.scss';

.banner {
  background: #2F3129;
  color: white;
  font-family: $app-font;
  font-size: 14px;
  border-bottom: 1px solid lightgray;
  padding: 4px;

  .logo {
    margin-left: 5px;
    height: 20px;
    margin-right: 10px;
  }

  .title {
    position: relative;
    top: -4px;
  }
}
