$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";

.code-editor {
  display: flex;
  flex-direction: column;
  background: darkgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-pane {
  display: flex;
  flex: 1;
}

.right-pane {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.section-title {
  color: lightgray;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 2px;
  background: #272822;
}