@import 'variables.scss';

.code-editor {
  display: flex;
  flex-direction: column;
  background: darkgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-pane {
  display: flex;
  flex: 1;
}

.right-pane {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.section-title {
  color: lightgray;
  font-family: $app-font;
  font-size: 12px;
  text-align: center;
  padding: 2px;
  background: #272822;
}