@import 'variables.scss';

.editor-tabs-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  background: #40423A;
}

.editor-tab-buttons {
  font-family: $app-font;
  padding: 3px 3px 0 3px;
  z-index: 10;

  .editor-tab-button {
    color: lightgray;
    background: #2F3129;
    font-size: 13px;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border: 1px solid $border-color;
    margin: 2px 2px 0 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    span.editor-tab-title:hover {
      color: $highlight-color;
    }

    i.close {
      margin-left: 10px;
    }

    i.close:hover {
      color: red;
    }
  }
}

.editor-tab-buttons .active {
  border-bottom-color: transparent;
}

.editor-tab-contents {
  padding-top: 3px;
  margin-top: -1px;
  background: #2F3129;
  border-top: 1px solid $border-color;
  flex: 1;
  display: flex;

  .editor-container {
    flex: 1;
  }

  .editor-container.inactive {
    display: none;
  }
}
