@import 'variables.scss';

.file-manager {
  font-family: $app-font;
  font-size: 14px;
  width: 300px;
  background-color: #40423a;
  color: white;
  -webkit-user-select: none;
  user-select: none;

  .file-actions {
    padding: 5px; font-size: 12px;

    button { font-size: 1em; outline: none; border: none; border-radius: 4px; background-color: #efefef; cursor: pointer; }
    button:hover { background-color: #f5f5f5; }
    button + button { margin-left: 10px; }

    .fa-stack {
      width: 1.3em; height: 1.25em; 

      i { position: absolute; }
      i:first-child { font-size: 1em; left: 4px; top: 4px; }
      i:last-child { font-size: 0.6em; background: #fff; left: 0; top: 2px; }
    }
    .fa-stack.add-folder { margin: 2px 0 -2px; }
  }

  .file-tree {
    margin-left: 3px; 

    .sub-tree { overflow-y: hidden; padding: 0 2px; float: left; clear: left; }

    .node { 
      float: left; clear: left; cursor: pointer;

      i { margin-right: 6px; display: inline-block; vertical-align: middle; }
    }
    .node.file {
      padding: 3px 5px; 

      i { margin-left: 2px; margin-right: 8px; font-size: 14px; }
    }
    .new-node { padding: 0 5px 3px 5px; }

    /* style for the children nodes container */
    .node-children { margin-left: 11px; margin-bottom: 2px; clear: left; overflow-y: auto; }
    .node-children.collapsed { height: 0px; }

    .arrow { 
      position: relative; cursor: pointer; display: inline-block; user-select: none; 

      .caret { display: inline-block; vertical-align: middle; margin-right: 3px; }
    }
    /* rotate the triangle to close it */
    .arrow.collapsed .caret { transform: rotate(-90deg); }

    .folder-label { 
      padding: 3px 5px; display: inline-block; 

      i { margin-right: 5px; }
    }

    .node.file.selected, .folder-label.selected { background-color: #23b3e2; border-radius: 4px; }
  }
}



