.file-manager {
  border: 1px solid black;
  width: 300px;

  .file-actions {
    padding: 5px; background-color: #fff;

    button { font-size: 1em; outline: none; border: none; border-radius: 4px; background-color: #efefef; cursor: pointer; }
    button:hover { background-color: #f5f5f5; }
    button + button { margin-left: 10px; }

    .fa-stack {
      width: 1.3em; height: 1.25em; 

      i { position: absolute; }
      i:first-child { font-size: 1em; left: 4px; top: 4px; }
      i:last-child { font-size: 0.6em; background: #fff; left: 0; top: 2px; }
    }
    .fa-stack.add-folder { margin: 2px 0 -2px; }
  }
}

.tree-view {
  overflow-y: hidden;
}

.tree-view_item {
  /* immediate child of .tree-view, for styling convenience */
}

/* style for the children nodes container */
.tree-view_children {
  margin-left: 16px;
}

.tree-view_children-collapsed {
  height: 0px;
}

.tree-view_arrow {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tree-view_arrow:after {
  content: '▾';
}

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}