.group-chat {
  position: relative;
  flex: 1;
  background: #40423a;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat-container {
  flex: 1;
  overflow: auto;
}

.chat-input {
  padding: 2px;
  display: flex;
  border-top: 1px solid lightgray;

  input {
    background: white;
  }
}

.chat-input input:focus {
  outline: none;
}

.chat-input input {
  padding: 4px;
  flex: 1;
  background: #2F3129;
  border: none;
  color: lightgray;
}

.chat-message {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  clear: both;
  border-left: 4px solid;
  color: white;
  padding: 2px 5px 2px 5px;
}
.chat-message-wrapper {
  border-bottom: 2px solid #5b5b5b;
}

.chat-message-text {

}

.chat-message-time {
  float: right;
  font-size: 10px;
}

.chat-message-username {
  font-size: 10px;
}

.chat-message-text {
  margin-top: 4px;
}

.local-chat-message {

}
