.participants-list {
  width: 100%;
  height: 300px;
  background: #2F3129;
  color: lightgray;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
}

.participant {
  border-bottom: 2px solid #5b5b5b;
}

.participant-username {
  padding: 4px;
  border-left: 4px solid;
}
