@import 'variables.scss';

.projects-dialog {
  border: 1px solid lightgrey;
  padding: 10px;
  background: #40423a;
  color: white;
  font-family: $app-font;

  .title {
    font-size: 18px;

    span {
      font-weight: bold;
      position: relative;
      top: 2px;
    }

    margin-bottom: 10px;
  }

  .login-contents {
    label {
      font-size: 14px;
      margin-top: 15px;
    }

    label, input {
      display: block;
    }

    input {
      margin-top: 5px;
      width: 300px;
      padding: 3px;
      &:focus {
        outline: none;
      }
    }
  }
}