@import 'variables.scss';

.status-bar {
  background: #40423a;
  border-top: 1px solid $border-color;
  color: lightgray;
  font-family: $app-font;
  font-size: 12px;
  padding: 3px 5px;

  .status-bar-content {
    .status-bar-cursor-indicator {
      float: left;
      margin: 0 5px;
    }

    .status-bar-file-type {
      float: right;
      margin: 0 5px;
    }

    .status-bar-participants {
      float: right;
      margin-right: 30px;
      span {
        margin-left: 5px;
      }
    }
  }
}
