.status-bar {
  background: #2F3129;
  border: 1px solid lightgray;
  color: lightgray;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  padding: 3px 5px;

  .status-bar-content {
    .status-bar-cursor-indicator {
      float: right;
    }
  }
}
